node_modules/
dist/
build/
target/
*.class
*.jar
*.war
*.log
.DS_Store
.env
!/.env.example
.idea/
*.iml
.vscode/
*.swp
*.swo
*~
application-local.yml

uploads/
deploy/terraform/.terraform/
*.tfstate
*.tfstate.backup
